.cover__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
}

@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 256px;
    font-size: 14px;
    line-height: 1.143;
    margin-top: 16px;
  }
}
