.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 245px;
}

@media (max-width: 1280px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    padding-top: 195px;
  }
}

@media (max-width: 1024px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    padding-top: 115px;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 480px;
    min-height: 300px;
    padding-top: 79px;
  }
}

@media (max-width: 495px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    padding-top: 33px;
  }
}


